@{
    ViewBag.Title = "Submissions";
    Layout = "_Layout";
}

@section Styles{
    <link href="~/css/submissions.min.css" rel="stylesheet" asp-append-version="false" />
}

@section Scripts{
    <script src="~/js/submissions.min.js" asp-append-version="false" defer></script>
}

<h1>@ViewBag.Title</h1>
<form onsubmit="submitFactForApproval(event)">
    <div id="chuck-cartoon"><img src="~/images/chuck-norris-soldier.png" alt="Chuck Norris" /></div>
    <textarea id="fact-description" maxlength="150"></textarea>
    <div id="submission-controls">
        <button>Submit</button>
        <img id="loader" src="~/images/loader.gif" alt="loading..."/>
    </div>
</form>

<p id="confirmation-area"></p>