@{
    ViewBag.Title = "Bio";
    Layout = "_Layout";
}

@section Styles {

    <link href="~/css/bio.min.css" rel="stylesheet" asp-append-version="false"/>
}

@section Scripts{
    <script src="~/js/bio.min.js" asp-append-version="false" defer></script>
}

<h1>@ViewBag.Title</h1>

<img id="cartoon-chuck" src="~/images/chuck-norris-cartoon.png" alt="Chuck Norris Img"/>
<div>
    <a class="chuck-link" asp-action="Movies">Known for</a>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit mauris, tincidunt a augue quis, elementum luctus magna. Integer egestas ipsum vel condimentum finibus. Pellentesque dui sem, imperdiet vel orci ut, ultrices viverra velit. Aliquam eu neque augue. In quam massa, ornare ut dui a, sollicitudin maximus ipsum. Fusce at rutrum nisl, nec fringilla dolor. In pharetra gravida metus vitae dignissim.</p>
<p>Pellentesque viverra ex sed tempus scelerisque. Phasellus vel volutpat tellus. Sed faucibus turpis lorem, nec maximus dolor suscipit non. Curabitur in imperdiet nunc. Nam cursus purus massa. Cras fermentum nulla ut augue tempus convallis. Phasellus pulvinar non quam id efficitur. Aliquam erat volutpat. Proin mi metus, dapibus a velit id, suscipit dignissim elit. Fusce tellus urna, luctus vestibulum nisi vel, fermentum gravida orci. Sed vel erat id purus consectetur convallis eu sed augue. Integer consequat, leo hendrerit gravida bibendum, eros magna finibus urna, eu hendrerit nunc tellus a metus. Suspendisse aliquam justo at vestibulum pretium. Ut ullamcorper sit amet risus eu facilisis. Donec vestibulum, ante quis vestibulum pellentesque, sapien magna tristique nunc, a tincidunt augue ipsum ac dolor.</p>
<p>Curabitur tristique tortor est, vel viverra leo rhoncus quis. Aenean dolor lorem, posuere at scelerisque vel, consequat ut purus. Ut facilisis urna quis felis semper interdum. Donec urna risus, suscipit sed enim vitae, posuere molestie risus. Vivamus mattis eu elit at finibus. Ut sit amet lacinia dui. Nulla facilisi. Suspendisse porttitor commodo suscipit. Nullam ac nisi sem. Donec a urna nec turpis sodales aliquet vel vel velit. Phasellus eu dignissim mi, quis semper mauris. Sed nisl erat, tempor at laoreet sit amet, facilisis in urna.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit mauris, tincidunt a augue quis, elementum luctus magna. Integer egestas ipsum vel condimentum finibus. Pellentesque dui sem, imperdiet vel orci ut, ultrices viverra velit. Aliquam eu neque augue. In quam massa, ornare ut dui a, sollicitudin maximus ipsum. Fusce at rutrum nisl, nec fringilla dolor. In pharetra gravida metus vitae dignissim.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit mauris, tincidunt a augue quis, elementum luctus magna. Integer egestas ipsum vel condimentum finibus. Pellentesque dui sem, imperdiet vel orci ut, ultrices viverra velit. Aliquam eu neque augue. In quam massa, ornare ut dui a, sollicitudin maximus ipsum. Fusce at rutrum nisl, nec fringilla dolor. In pharetra gravida metus vitae dignissim.</p>
<p>Donec id libero id libero hendrerit placerat. Ut hendrerit bibendum eros, vitae varius arcu ornare id. Nunc elementum, est sed tempus vulputate, lacus nisi vulputate eros, sit amet consequat risus enim et tellus. Sed vel fringilla dolor. Quisque faucibus consequat condimentum. Pellentesque nec elementum purus, a malesuada dui. Aenean sit amet mattis est, a tincidunt quam. Nunc efficitur sollicitudin est, a vulputate mauris imperdiet vel.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit mauris, tincidunt a augue quis, elementum luctus magna. Integer egestas ipsum vel condimentum finibus. Pellentesque dui sem, imperdiet vel orci ut, ultrices viverra velit. Aliquam eu neque augue. In quam massa, ornare ut dui a, sollicitudin maximus ipsum. Fusce at rutrum nisl, nec fringilla dolor. In pharetra gravida metus vitae dignissim.</p>
