@{
    ViewBag.Title = "Bio";
    Layout = "_Layout";
}

@section Styles {

    <link href="~/css/bio.min.css" rel="stylesheet" asp-append-version="true"/>
}

@section Scripts{
    <script src="~/js/bio.min.js" asp-append-version="true" defer></script>
}

<h1>@ViewBag.Title</h1>

<img id="cartoon-chuck" src="~/images/chuck-norris-cartoon.png" alt="Chuck Norris Img"/>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit mauris, tincidunt a augue quis, elementum luctus magna. Integer egestas ipsum vel condimentum finibus. Pellentesque dui sem, imperdiet vel orci ut, ultrices viverra velit. Aliquam eu neque augue. In quam massa, ornare ut dui a, sollicitudin maximus ipsum. Fusce at rutrum nisl, nec fringilla dolor. In pharetra gravida metus vitae dignissim.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit mauris, tincidunt a augue quis, elementum luctus magna. Integer egestas ipsum vel condimentum finibus. Pellentesque dui sem, imperdiet vel orci ut, ultrices viverra velit. Aliquam eu neque augue. In quam massa, ornare ut dui a, sollicitudin maximus ipsum. Fusce at rutrum nisl, nec fringilla dolor. In pharetra gravida metus vitae dignissim.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit mauris, tincidunt a augue quis, elementum luctus magna. Integer egestas ipsum vel condimentum finibus. Pellentesque dui sem, imperdiet vel orci ut, ultrices viverra velit. Aliquam eu neque augue. In quam massa, ornare ut dui a, sollicitudin maximus ipsum. Fusce at rutrum nisl, nec fringilla dolor. In pharetra gravida metus vitae dignissim.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit mauris, tincidunt a augue quis, elementum luctus magna. Integer egestas ipsum vel condimentum finibus. Pellentesque dui sem, imperdiet vel orci ut, ultrices viverra velit. Aliquam eu neque augue. In quam massa, ornare ut dui a, sollicitudin maximus ipsum. Fusce at rutrum nisl, nec fringilla dolor. In pharetra gravida metus vitae dignissim.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit mauris, tincidunt a augue quis, elementum luctus magna. Integer egestas ipsum vel condimentum finibus. Pellentesque dui sem, imperdiet vel orci ut, ultrices viverra velit. Aliquam eu neque augue. In quam massa, ornare ut dui a, sollicitudin maximus ipsum. Fusce at rutrum nisl, nec fringilla dolor. In pharetra gravida metus vitae dignissim.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit mauris, tincidunt a augue quis, elementum luctus magna. Integer egestas ipsum vel condimentum finibus. Pellentesque dui sem, imperdiet vel orci ut, ultrices viverra velit. Aliquam eu neque augue. In quam massa, ornare ut dui a, sollicitudin maximus ipsum. Fusce at rutrum nisl, nec fringilla dolor. In pharetra gravida metus vitae dignissim.</p>
