@{
    ViewBag.Title = "Movies";
    Layout = "_Layout";
}

@section Styles {
    <link href="~/css/bio.min.css" rel="stylesheet" asp-append-version="false" />
}

<h1>@ViewBag.Title</h1>

<ul>
    <li>Walker Texas Ranger</li>
    <li>The Expendables</li>
    <li>Enter the Dragon</li>
    <li><a class="chuck-link" href="https://youtu.be/xvmpD4xSSS8?t=1m30s">Conan O'Brien Lever</a></li>
</ul>

<button onclick="window.history.back();">Back</button>