.chuck-fact {
    background-color: #26282B;
    border: 2px dashed black;
    padding: 20px;
    margin: 0 10px 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8;
    transition-duration: 0.5s;
}

    .chuck-fact:hover {
        cursor: pointer;
        opacity: 1;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 12px 6px 12px 0 rgba(0, 0, 0, 0.19);
    }

    .chuck-fact:active {
        box-shadow: none;
    }

.chuck-fact-selected {
    background-color: #735816;
    color: white;
    background-image: url("../images/icon-favorites-small.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.chuck-fact-selected p::first-letter {
    color: rgb(99, 6, 99);
}

#chuck-facts-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#notification-icon {
    bottom: 20px;
    left: 3%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#refresh-icon {
    bottom: 20px;
    right: 3%;
}

@media screen and (orientation:landscape) and (min-device-width: 319px) and (max-device-width: 640px) {
    #notification-icon {
        right: 3%;
        bottom: 100px;
        left: auto;
    }
}
