@inject IConfiguration Configuration

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @* Meta *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @* Favicon *@
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    @* Style *@
    <link href="~/css/app.min.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("Styles", required: false)

    @* JS *@
    <script asp-append-version="true" defer>
        const chuckNorrisAppSettings = {
            apiBaseUrl: '@Configuration["apiBaseUrl"]'
        };
    </script>
    <script src="~/vendor/js/jquery-3.3.1.min.js" defer></script>
    <script src="~/js/app.min.js" asp-append-version="true" defer></script>

    @RenderSection("Scripts", required: false)

    @* Title *@
    <title>Chuck Norris [@ViewData["Title"]]</title>
</head>
<body>
    <nav>
        @* Home *@
        <a id="icon-home" asp-controller="Facts" asp-action="Index">
            <img src="~/images/icon-home.png" alt="Home" />
        </a>

        @* Favorites *@
        <a id="icon-favorites" asp-controller="Favorites" asp-action="Index">
            <img src="~/images/icon-favorites.png" alt="Favorite Facts" />
        </a>

        @* Bio *@
        <a id="icon-chuck" asp-controller="Bio" asp-action="Index">
            <img src="~/images/icon-chuck.png" alt="Bio" />
        </a>

        @* Contact *@
        <a id="icon-contact" asp-controller="Contact" asp-action="Index">
            <img src="~/images/icon-contact.png" alt="Contact" />
        </a>
    </nav>

    <main>
        @RenderBody()
    </main>

    @* Notifications Icon *@
    <div id="notification-icon" class="fixed-icon">
        <img src="~/images/icon-bell.png" alt="Push-ON" asp-append-version="true" />
    </div>
</body>
</html>