@font-face {
    font-family: 'app-font';
    src: url('../../wwwroot/fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'), url('../../wwwroot/fonts/Tajawal-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    background-color: #020B0F;
    color: #B3B3B3;
    font-family: app-font;
    line-height: 20px;
}

    html.offline, body.offline {
        background-color: #1B1D1E;
    }

::-moz-selection { /* Code for Firefox */
    background: #87709D;
}

::selection {
    background: #87709D;
}

nav {
    background-color: #142234;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 0 0 rgb(16, 1, 15), 0 0 15px 0 rgb(16, 1, 15);
    z-index: 1;
}

    nav.offline {
        background-color: #303235;
    }

    nav a {
        text-decoration: none;
        display: inline-block;
        padding: 25px;
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        opacity: 0.7;
    }

        nav a:hover {
            opacity: 1;
            border-bottom: 5px solid;
        }

        nav a img {
            height: 45px;
        }

main {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 105px;
    background-color: #172942;
    padding: 10px 30px 10px 30px;
    text-align: right;
}

    main.offline {
        background-color: #0B0C0E;
    }

h2 {
    text-align: right;
}

p::first-letter {
    font-size: 150%;
    font-weight: bolder;
    color: #5C496E;
}

sup {
    font-size: small;
    color: #87709D;
    font-weight: bolder;
}

.selected-icon {
    -webkit-filter: hue-rotate(280deg);
    filter: hue-rotate(280deg);
    border-bottom: 5px solid;
}

.fixed-icon {
    background-color: #082818;
    border-radius: 50%;
    display: inline-block;
    padding: 15px;
    box-shadow: 0 0 0 0 rgb(93, 6, 89), 0 0 15px 0 rgb(93, 6, 89);
    position: fixed;
    opacity: 0.8;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}

    .fixed-icon:hover {
        box-shadow: 0 0 15px 0 rgb(93, 6, 89), 0 0 15px 0 rgb(93, 6, 89);
        opacity: 1;
        cursor: pointer;
    }

    .fixed-icon:active {
        box-shadow: 0 0 0 0 rgb(93, 6, 89), 0 0 15px 0 rgb(93, 6, 89);
    }

#offline-icon {
    position: fixed;
    top: 85px;
    right: 15px;
    z-index: 1;
    display: none;
}

    #offline-icon img {
        height: 50px;
    }

#notification-icon {
    bottom: 50px;
    left: 3%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

    #notification-icon img {
        height: 30px;
        width: auto;
    }


@media screen and (orientation:landscape) and (min-device-width: 319px) and (max-device-width: 825px) {
    nav {
        width: 100px;
        flex-wrap: wrap;
        height: 100%;
    }

        nav a img {
            height: 30px;
        }

    main {
        margin-top: 15px;
        margin-left: 142px;
    }

    .selected-icon {
        border-bottom: none;
        border-left: 5px solid;
    }

    #notification-icon {
        right: 3%;
        bottom: 50px;
        left: auto;
    }

    #offline-icon {
        top: 1px;
        right: 35px;
    }
}

@media screen and (orientation:portrait) and (min-device-width: 319px) and (max-device-width: 640px) {
    nav a img {
        height: 30px;
    }
}

@media screen and (orientation:landscape) and (max-device-height: 361px) {
    nav a img {
        height: 20px;
    }
}

@media screen and (orientation:landscape) and (min-device-width: 1000px) {
    #offline-icon {
        top: 85px;
        right: 55px;
    }
}
