#cartoon-chuck {
    margin-left: 15px;
    padding: 0 10px 15px 0;
    float: left;
    height: 50%;
}

ul {
    list-style: none;   
}

button {
    display: block;
    margin-left: auto;
    text-align: center;
    border: none;
    background-color: rgb(35, 2, 34);
    color: #C9C9C9;
    font-weight: bolder;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 0 0 rgb(104, 5, 99), 0 0 20px 0 rgb(104, 5, 99);
}

    button:hover {
        box-shadow: 0 0 15px 0 rgb(104, 5, 99), 0 0 20px 0 rgb(104, 5, 99);
    }

@media screen and (orientation:landscape) and (max-device-width: 750px), screen and (orientation:portrait) and (min-device-width: 319px) and (max-device-width: 640px) {
    #cartoon-chuck {
        width: 100%;
        height: auto;
        padding: 10px 0 10px 0;
    }    
}

