.chuck-fact {
    background-color: #26282B;
    border: 2px dashed black;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8;
    transition-duration: 0.5s;
    font-size: 1em;
    text-align: center;
}

.chuck-fact small {
    display: block;
    text-align: right;
}

    .chuck-fact:hover {
        cursor: pointer;
        opacity: 1;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 12px 6px 12px 0 rgba(0, 0, 0, 0.19);
    }

    .chuck-fact:active {
        box-shadow: none;
    }

.chuck-fact-selected {
    background-color: #735816;
    color: white;
    background-image: url("../../wwwroot/images/icon-favorites-small.png");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 2%;

}

.chuck-fact-selected p::first-letter {
    color: rgb(99, 6, 99);
}

.fact-nav-icons img:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#chuck-facts-area {
    padding: 3% 5% 15% 5%;
    display: flex;
    justify-content: center;
}

@media screen and (orientation:portrait) {
    #chuck-facts-area {
        padding: 17% 5% 40% 5%;
    }
}

@media screen and (orientation:landscape) and (max-device-width: 824px), screen and (orientation:portrait) and (min-device-width: 319px) and (max-device-width: 640px) {
    
    #chuck-facts-area {
        position: relative;
        height: 70vmin;
    }

    .chuck-fact {
        position: absolute;
        width: 65%;
        z-index: 1;
        top: 10px;
    }

    .fact-nav-icons {
        display: none;
    }
}