form {
    position: relative;
}

h1 {
    text-align: left;
}

#chuck-cartoon img {
    max-height: 25%;
    height: 25%;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 55px;
}

textarea {
    width: 90%;
    height: 40%;
    display: block;
    font-size: xx-large;
    background-color: rgb(3, 43, 7);
    color: #C9C9C9;
    border-radius: 15px;
    padding: 25px;
    margin-right: auto;
}

form button {
    text-align: center;
    border: none;
    background-color: rgb(35, 2, 34);
    color: #C9C9C9;
    font-weight: bolder;
    margin: 10px 15px 5px 0;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 0 0 rgb(104, 5, 99), 0 0 20px 0 rgb(104, 5, 99);
}

    form button:hover {
        box-shadow: 0 0 15px 0 rgb(104, 5, 99), 0 0 20px 0 rgb(104, 5, 99);
    }


#submission-controls {
    text-align: left;
    align-items: center;
    display: flex;
}

    #submission-controls #loader {
        height: 35px;
        display: none;
    }

#confirmation-area {
    font-size: small;
    margin-top: 0;
}
