@{
    ViewBag.Title = "All Facts";
    Layout = "_Layout";
}

@section Styles
    {
    <environment include="localhost">
        <link href="~/css/facts.css" rel="stylesheet" />
    </environment>
    <environment exclude="localhost">
        <link href="~/css/facts.min.css" rel="stylesheet" />
    </environment>
}

@section Scripts
{
    <environment include="localhost">
        <script src="~/js/facts.js" asp-append-version="true" defer></script>
    </environment>
    <environment exclude="localhost">
        <script src="~/js/facts.min.js" asp-append-version="true" defer></script>
    </environment>
}

<h2>@ViewBag.Title<sup id="num-of-facts"></sup></h2>

<aricle id="chuck-facts-area">
    <img id="loader" src="~/images/loader.gif" alt="Loading..." height="100" />
</aricle>

<div id="refresh-icon" class="fixed-icon">
    <img src="~/images/icon-refresh.png" alt="Push-ON" height="30" />
</div>
