@{
    ViewBag.Title = "Favorite Facts";
    Layout = "_Layout";
}

@section Scripts
    {
    <environment include="localhost">
        <script src="~/js/favorites.js" asp-append-version="true" defer></script>
    </environment>
    <environment exclude="localhost">
        <script src="~/js/favorites.min.js" asp-append-version="true" defer></script>
    </environment>
}

<h2>@ViewBag.Title</h2>
